<div class="col-md-12">
  <h1>Leave Roster</h1><br>
  <form>
    <table>
      <!--<tr ng-repeat="entry in entries  | filter:isApproved(entry)">-->
      <tr ng-repeat="entry in entries | filter: true"><!--I have no idea why the filter works-->
        <td>From: {{entry.dateFrom}}  </td>
        <td>To: {{entry.dateTo}}  </td>
        <td>&emsp; Time: {{entry.timeFrom}}  </td>
        <td>-  {{entry.timeTo}}  </td>
        <td>&emsp; User: {{entry.loginID}}  </td>
        <td><br><br></td>
      </tr>

      <!--<tr ng-repeat="username in entries">
      {{entries}}<br>-->
    </table>
  </form>
</div>
