<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <h1>My Leave</h1><br>
  <form>
    <table>
      <!--<tr ng-repeat="friend in friends | filter:searchText">-->
      <tr ng-repeat="entry in entries | filter: userFilter" >
        <td>From: <input type=text ng-model="entry.dateFrom" name="dateFrom" id="dateFrom" placeholder={{entry.dateFrom}}> </td>
        <td>To: <input type=text ng-model="entry.dateTo" name="dateTo" id="dateTo" placeholder={{entry.dateTo}}>  </td>
        <td>&emsp;Time: <input type=text ng-model="entry.timeFrom" name="timeFrom" id="timeFrom" placeholder={{entry.timeFrom}}>  </td>
        <td>-  <input type=text ng-model="entry.timeTo" name="timeTo" id="timeTo" placeholder={{entry.timeTo}}>  </td>
        <td>&emsp;Status: <span ng-if="entry.approved">Approved</span><span ng-if="!entry.approved">Pending approval</span> </td>
        <td>&emsp;<input type="submit" id="submit" value="Submit" ng-click="submit(entry)" /></td>
        </a></tr></td>
      <br>
      </tr>
      Username: {{getCurrentUser}}<br>
    </table>
    <!--<input type="submit" id="submit" value="Submit" />-->
  </form>
  <pre>{{entries}}</pre>
</div>
