<div class="col-md-12">
  <h1>My Leave</h1><br>
  <form>
    <table>
      <!--<tr ng-repeat="friend in friends | filter:searchText">-->
      <tr ng-repeat="entry in entries">
        <td>From: {{entry.dateFrom}}  </td>
        <td>  To: {{entry.dateTo}}  </td>
        <td>  Time: {{entry.timeFrom}}  </td>
        <td>  -  {{entry.timeTo}}  </td>
        <td>Status: <span ng-if="entry.status">Approved</span><span ng-if="!entry.status">Pending approval</span></td>
        <br>
      </tr>
      <!--<tr ng-repeat="username in entries">
      {{entries}}<br>-->
    </table>
  </form>
  </div>
